---
http_interactions:
- request:
    method: post
    uri: http://api.geocod.io/v1.4/reverse?api_key=secret_api_key
    body:
      encoding: UTF-8
      string: '["37.331669,-122.03074","34.145760590909,-118.15204363636","37.7815,-122.404933"]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '3'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api81
    body:
      encoding: UTF-8
      string: '{"results":[{"query":"37.331669,-122.03074","response":{"results":[{"address_components":{"number":"10700","predirectional":"N","street":"De
        Anza","suffix":"Blvd","formatted_street":"N De Anza Blvd","city":"Cupertino","county":"Santa
        Clara County","state":"CA","zip":"95014","country":"US"},"formatted_address":"10700
        N De Anza Blvd, Cupertino, CA 95014","location":{"lat":37.331966,"lng":-122.030416},"accuracy":0.99,"accuracy_type":"rooftop","source":"City
        of Cupertino"},{"address_components":{"number":"10700","predirectional":"N","street":"De
        Anza","suffix":"Blvd","formatted_street":"N De Anza Blvd","city":"Cupertino","county":"Santa
        Clara County","state":"CA","zip":"95014","country":"US"},"formatted_address":"10700
        N De Anza Blvd, Cupertino, CA 95014","location":{"lat":37.331686,"lng":-122.030223},"accuracy":0.99,"accuracy_type":"rooftop","source":"Santa
        Clara County"},{"address_components":{"number"[...]
