---
http_interactions:
- request:
    method: get
    uri: http://api.geocod.io/v1.4/geocode?api_key=secret_api_key&fields=acs-demographics&q=54%20West%20Colorado%20Boulevard%20Pasadena%20CA%2091105
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '1'
      Request-Handler:
      - api32
    body:
      encoding: UTF-8
      string: '{"input":{"address_components":{"number":"54","predirectional":"W","street":"Colorado","suffix":"Blvd","formatted_street":"W
        Colorado Blvd","city":"Pasadena","state":"CA","zip":"91105","country":"US"},"formatted_address":"54
        W Colorado Blvd, Pasadena, CA 91105"},"results":[{"address_components":{"number":"54","predirectional":"W","street":"Colorado","suffix":"Blvd","formatted_street":"W
        Colorado Blvd","city":"Pasadena","county":"Los Angeles County","state":"CA","zip":"91105","country":"US"},"formatted_address":"54
        W Colorado Blvd, Pasadena, CA 91105","location":{"lat":34.145375,"lng":-118.151622},"accuracy":1,"accuracy_type":"rooftop","source":"Los
        Angeles County","fields":{"census":{"2019":{"census_year":2019,"state_fips":"06","county_fips":"06037","tract_code":"463700","block_code":"2001","block_group":"2","full_fips":"060374637002001","place":{"name":"Pasadena","fips":"0656000"},"metro_micro_statistical_area":{"name":"Los
        Angeles-Long Beach-Anaheim, CA","area_code":"31080","type":"metropolitan"},"combined_statistical_area":{"name":"Los
        Angeles-Long Beach, CA","area_code":"348"},"metropolitan_division":{"name":"Los
        Angeles-Long Beach-Glendale, CA","area_code":"31084"},"source":"US Census
        Bureau"}},"acs":{"meta":{"source":"American Community Survey from the US Census
        Bureau","survey_years":"2013-2017","survey_duration_years":"5"},"demographics":{"Median
        age":{"meta":{"table_id":"B01002","universe":"Total population"},"Total":{"value":44.5,"margin_of_error":3.2},"Male":{"value":42.5,"margin_of_error":5.4},"Female":{"value":45.5,"margin_of_error":3.4}},"Population
        by age range":{"meta":{"table_id":"B01001","universe":"Total population"},"Total":{"value":1751,"margin_of_error":233},"Male":{"value":874,"margin_of_error":156,"percentage":0.499},"Male:
        Under 5 years":{"value":32,"margin_of_error":25,"percentage":0.037},"Male:
        5 to 9 years":{"value":18,"margin_of_error":20,"percentage":0.021},"Male:
        10 to 14 years":{"value":15,"margin_of_error":17,"percentage":0.017},"Male:
        15 to 17 years":{"value":0,"margin_of_error":12,"percentage":0},"Male: 18
        and 19 years":{"value":30,"margin_of_error":42,"percentage":0.034},"Male:
        20 years":{"value":18,"margin_of_error":14,"percentage":0.021},"M[...]
