---
http_interactions:
- request:
    method: get
    uri: http://api.geocod.io/v1.4/reverse?api_key=secret_api_key&fields=cd,stateleg,school,timezone&q=41.25,-96.00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '4'
      Request-Handler:
      - api81
    body:
      encoding: UTF-8
      string: '{"results":[{"address_components":{"number":"5548","street":"Mason","suffix":"St","formatted_street":"Mason
        St","city":"Omaha","county":"Douglas County","state":"NE","zip":"68106","country":"US"},"formatted_address":"5548
        Mason St, Omaha, NE 68106","location":{"lat":41.24989,"lng":-96.00003},"accuracy":1,"accuracy_type":"rooftop","source":"Douglas","fields":{"congressional_districts":[{"name":"Congressional
        District 2","district_number":2,"congress_number":"116th","congress_years":"2019-2021","proportion":1,"current_legislators":[{"type":"representative","bio":{"last_name":"Bacon","first_name":"Don","birthday":"1963-08-16","gender":"M","party":"Republican"},"contact":{"url":"https:\/\/bacon.house.gov","address":"1024
        Longworth House Office Building; Washington DC 20515-2702","phone":"202-225-4155","contact_form":null},"social":{"rss_url":null,"twitter":"repdonbacon","facebook":"RepDonBacon","youtube":null,"youtube_id":"UCR9abI1lZzAZ6HwQXc-dLFQ"},"references":{"bioguide_id":"B001298","thomas_id":null,"opensecrets_id":"N00037049","lis_id":null,"cspan_id":"103442","govtrack_id":"412713","votesmart_id":"166299","ballotpedia_id":null,"washington_post_id":null,"icpsr_id":"21701","wikipedia_id":"Don
        Bacon (politician)"},"source":"Legislator data is originally collected and
        aggregated by https:\/\/github.com\/unitedstates\/"},{"type":"senator","bio":{"last_name":"Fischer","first_name":"Deb","birthday":"1951-03-01","gender":"F","party":"Republican"},"contact":{"url":"https:\/\/www.fischer.senate.gov","address":"454
        Russell Senate Office Building Washington DC 20510","phone":"202-224-6551","contact_form":"http:\/\/www.fischer.senate.gov\/public\/index.cfm\/contact"[...]
