---
http_interactions:
- request:
    method: get
    uri: http://api.geocod.io/v1.4/reverse?api_key=secret_api_key&q=34.145760590909,-118.15204363636
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api32
    body:
      encoding: UTF-8
      string: '{"results":[{"address_components":{"number":"10","predirectional":"S","street":"De
        Lacey","suffix":"Ave","formatted_street":"S De Lacey Ave","city":"Pasadena","county":"Los
        Angeles County","state":"CA","zip":"91105","country":"US"},"formatted_address":"10
        S De Lacey Ave, Pasadena, CA 91105","location":{"lat":34.145373,"lng":-118.151925},"accuracy":0.99,"accuracy_type":"rooftop","source":"Los
        Angeles County"},{"address_components":{"number":"69","street":"Mc Cormick","suffix":"Aly","formatted_street":"Mc
        Cormick Aly","city":"Pasadena","county":"Los Angeles County","state":"CA","zip":"91105","country":"US"},"formatted_address":"69
        Mc Cormick Aly, Pasadena, CA 91105","location":{"lat":34.145373,"lng":-118.151925},"accuracy":0.99,"accuracy_type":"rooftop","source":"Los
        Angeles County"},{"address_components":{"number":"58","predirectional":"W","street[...]
